name: Docker Image deploy to AWS Lightsail

on:
  workflow_dispatch:

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build --build-arg VERSION=test .
    - name: Configure AWS credentials from my account
      uses: aws-actions/configure-aws-credentials@v2
      with:
        # Get role ARN from AWS IAM console
        role-to-assume: arn:aws:iam::512081954320:role/lightsail-deploy
        aws-region: eu-west-2
        role-session-name: MySessionName
    - name: check Lightsail
      run: |
        aws lightsail push-container-image --region eu-west-2 --service-name container-service-1 --image dash-example:latest --label dash-example
